<!-- <section class="sample-app-content">
    <h1>Reactive Form Example:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label>First Name:</label>
            <input type="text" formControlName="text">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
</section> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{task?"Edit":"Add"}} Task</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="text">Name</label>
                        <input type="text" id="text" class="form-control" placeholder="Name" formControlName="text" required minlength="3" [class.is-invalid]="text?.dirty && text?.invalid" />
                        <div class="text-danger" *ngIf="text?.dirty && text?.invalid">
                            <div *ngIf="text?.errors?.required">* Required</div>
                            <div *ngIf="text?.errors?.minlength">* Min Length 3</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="reminder">Reminder</label>

                        <div class="d-flex justify-content-start">
                            <mat-slide-toggle id="reminder" formControlName="reminder"></mat-slide-toggle>
                            <!-- <input type="checkbox" id="reminder" class="form-control" formControlName="reminder" /> -->
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 offset-md-10">
                        <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- <div class="modal-body">
    <section class="sample-app-content">
        <h1>Template-driven Form Example (with bi-directional data binding):</h1>
        <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased()">
            <p>
                <label>First Name:</label>
                <input type="text" [(ngModel)]="user.firstName" name="firstName" required>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" [(ngModel)]="user.password" name="password" required>
            </p>
            <p>
                <button type="submit" [disabled]="!myForm.valid">Submit</button>
            </p>
        </form>
    </section>
</div> -->