<div class="task d-flex alert alert-secondary mb-0">
    <div class="align-self-start id">
        <span class="badge badge-secondary">{{task?.id}}</span>
    </div>
    <div class="mr-auto">
        <div>{{task?.text | eraseme}}</div>
        <div class="small text-muted font-italic">{{task?.day | date:"yyyy-MM-dd HH:mm:ss"}}</div>
    </div>

    <div>
        <span class="pointer"><fa-icon [ngStyle]="{'color':'red'}" [icon]="fa.faTimes" (click)="clickDelete(task)"></fa-icon></span>
    </div>
</div>